{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
      {% include 'includes/head_menu.html' %}
    </header>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
    <div id="content">
      {% block content %}
      {% endblock %}
  </div>
  <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
  <script>
    const csrftoken = Cookies.get('csrftoken');
    document.addEventListener('DOMContentLoaded', (event) => {
      {% block domready %}
      {% endblock %}
    })
  </script>
</body>
</html>