{% extends "account/base_account.html" %}
{% block title %}Панель Управления{% endblock %}

{% block content %}
  <h1>Управление вашим аккаунтом.</h1>
  <p>Добро пожаловать в панель управления ваших аккаунтом.</p>
    {% with total_images_created=request.user.images_created.count %}
    <p>Всего вы добавили в избранное {{ total_images_created }} картинок.</p>
  {% endwith %}
  <p>Перетащите эту кнопку на вашу панель закладок и используйте её для сохранение картинок на других сайтах
      → <a href="javascript:{% include "images/bookmarklet_launcher.js" %}" class="button">В закладки</a></p>
  <p>
    Вы можете <a href="{% url 'auth:edit' %}">отредактивать</a> ваш профиль,
    или <a href="{% url 'auth:password_change' %}">сменить</a> ваш пароль.
  </p>
  <h2>Лента Активностей</h2>
  <div id="action-list">
    {% for action in actions %}
    {% include "actions/action/detail.html" %}
    {% endfor %}
  </div>
{% endblock %}