{% extends 'base_account.html' %}
{% block title %}Форма восстановления пароля{% endblock %}

{% block content %}
  <h1>Сброс вашего пароля!</h1>
  {% if validlink %}
    <p>Пожалуйста введите новый пароль дважды:</p>
    <form method="post">
      {{ form.as_p }}
      <input type="submit" value="Изменить мой пароль!">
      {% csrf_token %}
    </form>
  {% else %}
    <p>Ссылка по которой вы перешли уже устарела, либо была использована. Запросите новое восстановление пароля!</p>
  {% endif %}
{% endblock %}